@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: burlywood;
    margin: 0;
    padding: 0;

    .App{
        display: flex;
        justify-content: center;

        #LeftSide{
            text-align: center;
            background-color: #fff;
            padding: 20px 40px;
            max-width: 400px;
            h2,h4{
                color: grey;
            }
            h4{
                font-weight: 500;
            }
            #temp{
                font-size: 48px;
                margin: 0;
                padding: 0;
                font-weight: 700;
            }
        }

        #RightSide{
            background-color: rgb(238, 238, 238);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            max-width: 600px;
            text-align: center;

            input[type=text]{
                padding: 5px 10px;
                border: none;
                outline: none;
            }

            h6{
                margin: 0;
                padding: 0;
                color: grey;
            }

            input[type=text]:focus{
                box-shadow: 0 0 0 2px black;
            }

            #info{

               display: flex;
               flex-wrap: wrap;
               justify-content: center;

                div{
                    background-color: white;
                    border-radius: 10px;
                    padding: 5px 10px;
                    padding-bottom: 10px;
                    margin: 10px;
                    text-align: right;
                    width: 150px;
                    font-weight: 700;
                    font-size: 24px;
                    img{
                        float: left;
                    }
                    span{
                        color: grey;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

            }

        }

    }

}

@media only screen and (max-width: 600px) {

    .App{
        flex-direction: column;
    }

}